<footer class="bg-dart text-white fixed-bottom container">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Brian Ferey Rojas Garcia</a>
    </div>
    <!-- Copyright -->

</footer>