.card {
    min-height: 700px;
    max-height: 700px;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    border: none;
}

.card:hover {
    transform: scale(1.25);
}

.card-img-top {
    color: whitesmoke;
    padding: 25px;
    min-height: 500px;
    max-height: 500px;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: whitesmoke;
    text-align: center;
}