<h1>Bienvenido al sitio de comics de Brian</h1>
<h3>Lugar en donde podra "Comprar" si Dios quiere unos cuantos comics xd</h3>
<div id="tarjeta" style="padding: 5px;">
    <div class="row justify-content-center align-items-center mt-2">
        <div class="card" style="width: 18rem; " *ngFor="let character of allCharacters | async">
            <img class="card-img-top" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">
            <div class="card-body ">
                <h5 class="card-title ">{{character.title}}</h5>
            </div>
        </div>
    </div>
</div>