body {
    background: linear-gradient(to right, rgba(76, 76, 76, 1) 4%, rgba(64, 98, 100, 1) 7%, rgba(37, 148, 156, 1) 14%, rgba(102, 102, 102, 1) 22%, rgba(71, 71, 71, 1) 38%, rgba(17, 17, 17, 1) 64%, rgba(43, 43, 43, 1) 80%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 97%, rgba(19, 19, 19, 1) 100%);
    height: 100%;
}

footer {
    height: 50px;
    background: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}