<div class="container-shadow"></div>
<div class="container">
    <div class="wrap">
        <div class="headings">
            <a id="sign-in" href="#" class="active"><span>Registrarse</span></a>
        </div>
        <div id="sign-in-form">
            <form [formGroup]='registerForm' (ngSubmit)="onRegister()">
                <label for="email">Correo</label>
                <input id="email" type="text" name="email" formControlName="email" />
                <label for="password">Contraseña</label>
                <input id="password" type="password" name="password" formControlName="password" />

                <input type="submit" class="button" name="submit" value="Registrarse" />
            </form>
        </div>
    </div>
</div>