<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 0, 0);">
    <a class="navbar-brand" href="#">Comics Marvel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/comics">Comics</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrar</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Nombre</a>
                    <a class="dropdown-item" href="#">Autor</a>
                    <a class="dropdown-item" href="#">Rangos</a>
                    <a class="dropdown-item" href="#">Fechas</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user; else login">

            <li class="nav-item">
                <button type="button" class="btn btn-success">Autorizado para comprar</button>
            </li>

            <li class="nav-item active" *ngIf="user">
                <a class="nav-link"> {{user?.email}}</a>
            </li>

            <li class="nav-item" *ngIf="user">
                <a class="btn btn-danger" (click)="onLogout()" routerLink="/comics">Salir</a>
            </li>



        </ul>

        <ng-template #login>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <button type="button" class="nav-link btn btn-danger">No autorizado para comprarr</button>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary" routerLink="/login">Iniciar sesión</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary" routerLink="/register">Registrarse</a>
                </li>
            </ul>
        </ng-template>


    </div>
</nav>